html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
}
body{background-color: #EEEEEE;}
a{text-decoration: none;}
li{list-style-type: none;}

/*一级页面的表格样式*/
table{}
table thead{
	background-color: #5CA7BA;
	color: #FFFFFF;
}
table thead th{
	text-align: center;
}
table tbody{
	background-color: #FFFFFF;
	text-align: center;
}
.outside_box{
	background-color: #FFFFFF;
	/*background-color: #FBFBFB;*/
	/*边框阴影效果*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.35);*/
}
/*public style*/
.word_center{
	text-align: center;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.clear{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/*2016-08-01*/
.hr{
	border: 1px solid #EEEEEE;
	margin: 20px auto;
	width: 100%;
}
.left_icon{
	
}
.right_icon{
	
}
.breadcrumb{
	border-radius: 0;
	/*面包屑导航集体去圆角*/
}
/*modal弹出框样式*/
.my_modal_title{
	background-color: #337AB7;
	color: #FFFFFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.close{color: #FFFFFF;}
/*modal_body*/

/*信息显示框组*/

.show_info_group{
	/*border: 1px solid #EEEEEE;
	text-align: center;
	border-radius: 4px;*/
}
.group_left ,.group_right{
	float: left;	
	height: 31px;
	line-height: 31px;
}
.show_info_group .group_left{
	/*width: 150px;*/
}
.show_info_group .group_right{
	/*width: 400px;*/
}
/*输入信息框组*/
.input_info_group{
	
}
.input_info_group .group_left{
	/*text-align: right;
	width: 150px;*/
}
.input_info_group .group_right{
	/*width: 400px;*/
}

/*modal_my_btn*/
.modal_btn{
	width: 100px;
}
.save_btn_width{
	width: 100px;
}
.save_btn_color{
	background-color: #337AB7;
	color: white;
}
/**/
/*textarea{
	resize: none;
}*/
.label_left{
	color: ;
	width: ;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-right: 0;
	display: inline-block;
	float: left;
}
.label_right {
    margin-left: 0;
    width: px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #CCCCCC;
    display: inline-block;
    float: left;
    background-color: white;
}

.footer_bottom_padding{
	padding-top: 50px;
	padding-bottom: 80px;
	background-color: #CCCCCC;
}

/*0802*/
.breadcrumb{
	margin-bottom: 0;
}

.operation_icon{
	color: #CCCCCC;
	padding: 0 5px;
}
/*0803 修改bootstrap样式*/
.tab-content .tab-pane{
	background-color: #FBFBFB;
}



.box_padding{
	padding: 10px 20px;
}
.pub_info_show_top_border{
	border-top: 1px solid #CCCCCC;
}
.header_span{
	margin: 20px auto 10px ;
}
.header_span span{
	font-size: 18px;
	color: #7399FF;
}

.none_border_radius{
	border-radius: 0;
}


.experts_ol_left{
	margin-left: 45px;
}
