<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FreeMarker/src/Action/Excel2/GenerateExcelPaper.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Action.Excel2.GenerateExcelPaper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FreeMarker"/>
</launchConfiguration>
