<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet1</servlet-name>
    <servlet-class>com.runoob.test.HelloServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet1</servlet-name>
    <url-pattern>/s/HelloServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet1</servlet-name>
    <url-pattern>/AA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet1</servlet-name>
    <url-pattern>/1.html</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>data4</param-name>
    <param-value>XX4</param-value>
  </context-param>
  <context-param>
    <param-name>data3</param-name>
    <param-value>XX3</param-value>
  </context-param>
  <context-param>
    <param-name>data1</param-name>
    <param-value>XX1</param-value>
  </context-param>
  <context-param>
    <param-name>data2</param-name>
    <param-value>XX2</param-value>
  </context-param>
  <servlet>
    <servlet-name>HHSSSS</servlet-name>
    <servlet-class>com.runoob.test.ContextShare2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HHSSSS</servlet-name>
    <url-pattern>/DDDD</url-pattern>
  </servlet-mapping>
</web-app>